body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
}

/* div {
    margin: 0;
} */

.profilePhoto {
    display: none;
}

.coverLetter {
    padding: 18px;
    width: 100%;
    background-color: #071f34e6;
    color: white;
    position: relative;
    height: 102px;
}

.fullName {
    margin: 0;
}

.jobTitle {
    margin: 0;
    margin-bottom: 18px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    /* margin: 24px; */
    padding: 0 12px;
}

.links {
    display: flex;
    justify-content: start;
    font-size: 0.8em;
}

/* .sectionLeft, .sectionRight {
    width: 48%;
} */

.sectionLeft {
    width: 65%;
}

.sectionRight {
    width: 32%;
}

.main .sectionLeft, .main .sectionRight {
    margin: 0 10px;
}

/* .sectionRight {
    width: 48%;
} */

.sectionRight a, .sectionLeft a {
    color: white;
}

.flexDisplay {
    display: flex;
    padding: 3px 0;
}

/* //---------------------- MAIN */
.main {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    flex-flow: row;
}

.experience-duration {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    color: rgb(4, 73, 138);
    font-size: 0.8em;
}

.main h3 {
    margin-bottom: 0;
}

.main p {
    margin-top: 0;
}

ul {
    margin-top: 0;
}

img {
    position: absolute;
    width: 200px;
    border-radius: 8px;
    top: 18px;
    left: 300px;
}

.socialLinks {
    position: absolute;
    top: 0;
    right: 12px;
    padding-top: 18px;
}

.experience-2 {
    /* display: none; */
}

i {
    margin-right: 8px;
    font-size: 1.8em;
}

.socialNetworks {
    display: flex;
}